@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nova+Cut&display=swap&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "IBM Plex Sans";
  }
  body {
    font-family: "Noto Sans thai";
  }
  .logo {
    font-family: "Nova Cut", sans-serif;
  }
  .rhombus {
    background-color: #031cff;
  }
  .step3 {
    width: 80px;
    height: 10px;
    transform: skewX(45deg) scaleY(cos(45deg));
  }
  .rhombus1 {
    background-color: #d9d9d9;
  }
  .step4 {
    width: 25px;
    height: 4px;
    transform: skewX(45deg) scaleY(cos(45deg));
    position: relative;
    overflow: hidden; /* เพิ่มการป้องกัน overflow */
  }
  .step4 #length {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
  }
  .step4 #progress_animation {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: red;
    z-index: 55;
    animation: moving;
    transition: width 100ms linear; /* Adjust the transition timing as needed */
  }
  @keyframes moving {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }
 
  img {
    position: relative;
    overflow: hidden;
    transition: all 1.1s;
  }
  /* img:hover {
    transform: scale(1.2);
  } */
  .btn {
    transition: color 0.4 linear;
    position: relative;
  }
  .btn::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #fecaca;
    z-index: 0;
    transition: transform 0.5s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
  }
  .btn1::before {
    transform: scaleX(0);
  }
  .btn1:hover::before {
    transform: scaleX(1);
  }
  @media (max-width: 1024px) {
  }
  .menu {
    position: relative;
  }
  .menu::before {
    content: "";
    position: absolute;
    bottom: 1px;
    left: 0;
    width: 0%;
    height: 1.75px;
    background: rgb(0, 0, 0);
    transition: all 0.5s;
  }
  .menu:hover::before {
    width: 100%;
  }